/* General CSS */
h1 {
  vertical-align:middle;
  color: #0000FF;
  
}

body {
    padding:10px;
}

p {
  font: arial, sans-serif;
}

.curl {
    font-style: italic;
}

/* Toolbar css below */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:left;
}

a {
    display:block;
    width:70px;
    background-color: #dddddd;
}


