@(message: String)
<!DOCTYPE html>
<html>
<link href="general_formats.css" rel="stylesheet" type="text/css">
@main("Calculator API"){
    <h1>@message</h1>
    <p>
          The Calculator API is a very simple project with a simple idea: <br/>
          how can someone use Play 2.x to make a flexible API and <br/>
          how can functional concepts be used to handle similar requests?
    </p>
    <p>
          The result of this simple API where there are six functions: 
          add, subtract(sub), multiply(mul), divide (div), modulo(mod), and power(pwr).
    </p>
    <p>
        These fuctions are all POST requests where the the function accepts json <br/>
        and then returns json.
    </p>
    <p>For more information about these fuction calls go to /math </p>
}
<html/>