<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="general_formats.css">
    <title>Sorry, I am in the mists of being created.</title>
    <p>
        Eventually I will be automatically created documentation but for now I am not :(
    </p>
    <p>
        The only  parameter needed for these function calls are a json with a "values" key pointing to 
        a list of numbers (like "values":[1,2,4])
    </p>
    <p>
        To make a sample function call with curl: <br/>
        curl --header "Content-type:application/json" --request POST --data '{"values":[2,3]}' http://calcualtions-api-simple.herokuapp.com/math/sub <br/>
        With the result: <br/>
        '{"result":-1.0}'         
    </p>
</html>